body {

}

input:focus, button:focus {
	outline: none !important;
}

.active > a {
	background: #4e5d6c !important;
}

/*customs*/
.input-custom1 {
	background: transparent;
	color: white;
	border: none;
	border-bottom: 2px solid white;
}

.input-custom1:focus {
	border-bottom: 2px solid white;
	margin-top: 20px;
}

.label-cool {
	position: relative;
}

.label-cool > span {
	position: absolute;
	top: 5px;
	left: 16px;
	font-size: 16px;
	cursor: text;
}

.pointer {
	cursor: pointer;
}
